<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Главная страница</title>
           <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
       <style>
        .nav-link {
            text-decoration: none;
            padding: 10px 15px;
            color: black; /* Цвет по умолчанию */
            transition: background-color 0.3s; /* Плавный переход */
        }

        .nav-link:hover {
            background-color: lightblue; /* Цвет при наведении */
        }

        .nav-link.active {
            background-color: blue; /* Цвет активного пункта */
            color: white; /* Цвет текста активного пункта */
        }

             /* Дополнительные стили для картинок */
        .img-thumbnail {
            margin-bottom: 15px;
            width: 100%;
            max-width: 200px;
           }


    </style>
</head>
     <body>
         <div class="container mt-4">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Главная</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/contacts">Контакты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/blog">Блог</a>
        </li>
    </ul>
</div>

<!-- Tab panes -->
<div class="container mt-6">
        <div class="row">
            <div class="col-md-8">
                <h1>Туристическое агентство <br>
                    «Вокруг света»</h1>
                <p>
                    Туристическое агентство «Вокруг света» приглашает вас отправиться в незабываемое путешествие!
                    Мы предлагаем широкий выбор туров по всему миру: от экзотических островов до величественных горных
                    вершин. Наши опытные гиды проведут вас по самым живописным уголкам планеты, а профессиональные
                    менеджеры помогут подобрать тур, который идеально подойдёт именно вам. Откройте для себя новые
                    горизонты вместе с нами!
                </p>
                <p>
                    Туристическое агентство «Вокруг света» имеет ряд преимуществ, которые делают работу с нами привлекательной для клиентов:

                    <li>1. Широкий выбор туров: Мы предлагаем разнообразные туры по всему миру, чтобы каждый мог найти что-то подходящее для себя.</li>

                    <li>2. Опытные гиды: Наши гиды обладают глубокими знаниями о местах, которые они показывают, и умеют создавать незабываемые впечатления.</li>

                    <l1>3. Профессиональные менеджеры: Наши менеджеры всегда готовы помочь клиентам выбрать оптимальный тур, учитывая их интересы и бюджет.</l1>

                    <li>4. Индивидуальный подход: Мы стремимся предоставить каждому клиенту индивидуальный подход, чтобы максимально удовлетворить его потребности.</li>

                    <li>5. Надежность: Мы гарантируем безопасность и надежность наших услуг, чтобы клиенты могли полностью расслабиться и наслаждаться своим путешествием.</li>

                    <li>6. Гибкость: Мы готовы адаптироваться к потребностям клиента и предложить ему наилучшие решения.</li>

                    <li>7. Доступность: Мы стараемся предложить конкурентоспособные цены, чтобы наши услуги были доступны для широкого круга клиентов.</li>
                </p>

                <p>Для кругосветного путешествия можно выбрать различные виды транспорта, в зависимости от ваших предпочтений и бюджета. Вот некоторые варианты:

                    <li>1. Самолет: Самый быстрый и удобный способ для кругосветного путешествия. Однако, это также самый дорогой вариант.</li>>

                    <li>2. Корабль: Круизные лайнеры предлагают возможность посетить множество стран и городов без необходимости переезжать между ними. Это отличный выбор для тех, кто хочет насладиться морскими пейзажами и расслабиться на борту корабля.</li>
                    <li>3. Автомобиль: Если у вас есть достаточно времени и желания, то автомобиль может стать отличным выбором для кругосветного путешествия. Вы сможете останавливаться в любом месте, где захотите, и исследовать новые места.</li>

                    <li>4. Поезд: Путешествие на поезде может быть очень комфортным и интересным способом увидеть мир. Поезда часто проходят через красивые ландшафты и города, которые вы не увидите из окна самолета или автомобиля.</li>

                    <li>5. Велосипед: Если вы любите активный отдых и хотите испытать себя, то велосипед может стать отличным выбором для кругосветного путешествия. Это также позволит вам ближе познакомиться с местными жителями и природой.</li>

                    Выбор зависит от вашего бюджета, предпочтений и времени, которое вы готовы потратить на путешествие.
                </p>
                <p>Время путешествия вокруг света зависит от многих факторов, включая выбранный маршрут, скорость передвижения, погодные условия и другие обстоятельства.

                Если говорить о кругосветном путешествии на самолете, то самый быстрый перелет из Нью-Йорка в Лондон и обратно занимает около 10 часов. Однако, чтобы совершить полный круг вокруг Земли, потребуется значительно больше времени, так как придется пересечь несколько часовых поясов и преодолеть большие расстояния.

                Путешествие на автомобиле или мотоцикле может занять гораздо больше времени. Например, рекорд кругосветного путешествия на автомобиле составляет около 40 дней, но это было экстремальное путешествие без остановок на отдых и сон. Путешествие пешком или на велосипеде может занять еще больше времени. Рекорд кругосветного путешествия пешком составляет около 6 лет, а на велосипеде - около 17 месяцев.

                Таким образом, время кругосветного путешествия может варьироваться от нескольких дней до нескольких лет, в зависимости от выбранного способа передвижения и других обстоятельств.

 </p>>
            </div>
            <div class="col-md-4">
                <h2>Галерея</h2>
                <img src="static/images/auto-forest.jpg" width="100" class="img-thumbnail" alt="Картинка 1">
                <img src="static/images/byker.jpg" class="img-thumbnail" alt="Картинка 4">
                <img src="static/images/camel_2.jpg" class="img-thumbnail" alt="Картинка 7">
                <img src="static/images/elephant.jpg" width="100" class="img-thumbnail" alt="Картинка 9">
                <img src="static/images/footpassenger_2.jpg" class="img-thumbnail" alt="Картинка 12">
                <img src="static/images/row-boat_2.jpg" class="img-thumbnail" alt="Картинка 15">
                <img src="static/images/velo_2.jpg" class="img-thumbnail" alt="Картинка 17">
                <img src="static/images/yacht.jpg" class="img-thumbnail" alt="Картинка 18">
            </div>
        </div>
    </div>


<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha384-QP8aHnbNDFDzk1Mw3y+9l - K+JtYGGslpZLaYfmO9NnHe1RBSICo8U7SiVvOg==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>